.body {
    margin-top: 10;
    font-family: -apple-system, BlinkMacSystemFont, sans-serif;
    text-align: center;
    font-weight: normal;
    font-size: 30px;
}
.name { 
  font-family: Courier New,Courier,Lucida Sans Typewriter,Lucida Typewriter,monospace; 
  font-size: 72px;
  text-align: center;
  margin-top: 150px;
  font-weight: normal;
}

body {
  overflow-x: hidden;
}